<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='bom_list.css') }}"
    />
    <title>Détails du Projet</title>
  </head>
  <body>
    <div class="project-container">
      <h1>Détails du Projet</h1>
      <section class="project-details">
        <p><span class="label">ID :</span> {{ project.id }}</p>
        <p><span class="label">Nom :</span> {{ project.name }}</p>
        <p>
          <span class="label">Description :</span> {{ project.description }}
        </p>
        <p><span class="label">Manager :</span> {{ project.manager }}</p>
        <p>
          <span class="label">Date de création :</span> {{ project.create_date
          }}
        </p>
        <p><span class="label">Statut :</span> {{ project.status }}</p>
      </section>

      <h2>BOM</h2>
      <section class="bom-details">
        {% if project.Bom %}
        <ul>
          <li><span class="label">Nom :</span> {{ project.Bom.nameBom }}</li>
          <li>
            <span class="label">Description :</span> {{
            project.Bom.descriptionBom }}
          </li>
          <li>
            <span class="label">Composants :</span>
            <ul>
              {% for composant in project.Bom.composantBom %}
              <li>{{ composant }}</li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <span class="label">Spécifications :</span> {{ project.Bom.specBom
            }}
          </li>
        </ul>
        {% else %}
        <div class="no-bom">
          <p>Aucun BOM disponible pour ce projet.</p>
        </div>
        {% endif %}
      </section>

      <a href="{{ url_for('project_list') }}" class="back-button"
        >Retour à la liste des projets</a
      >
    </div>
  </body>
</html>
