<!DOCTYPE html>
    <html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mon appli</title>

    </head>
    <body>
        <h1>Page de connexion</h1>
        <!--mathod "GET" or "POST"-->
        <!--action atribue qui definie a qui vont etre transmis les données-->
        <form action={{url_for('login')}} method="POST">
            <p>
                <!-- Champ de type text-->
                <label for="nom">User : </label>
                <input type="text" name="nom" id="nom" required> <!--required rend le champ obligatoire a la saisi-->
            </p>
            <p>
                <!-- Champ de type password -->
                <label for="mdp">Password : </label>
                <input type="password" name="mdp" id="mdp" required>
            </p>
            <p>
                <!-- Bouton d'envoi du formulaire -->
                <input type="submit" value="CONNEXION">
            </p>
        </form>
    </body>
    </html>