<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='menu.css') }}"
    />
    <title>Menu</title>
  </head>
  <body>
    <h1>Menu</h1>
    <nav>
      <ul>
        <li>
          <a href="{{ url_for('init_project') }}">Initialiser un Projet</a>
        </li>
        <li><a href="{{ url_for('project_list') }}">Liste des Projets</a></li>
      </ul>
    </nav>
  </body>
</html>
